:root {
  --accent-color: #fca418dc;
  --secondary-color: #f9f6f1;
  --thirdly-color: #effaf0;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.123);
  --font-family-h1-h2-h3: "Domine", serif;
  --font-family-p: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: var(--font-family-h1-h2-h3);
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 38px;
}
.heading {
  margin-top: 100px;
}
.heading-about {
  margin-top: 40px;
  font-size: 50px;
}

h3 {
  font-size: 18px;
  opacity: 0.7;
}

p {
  padding: 20px;

  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  font-family: var(--font-family-p);
}
.green {
  background-color: var(--thirdly-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--accent-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: var(--box-shadow);
}
.about-link:hover {
  color: #ff9d00;
  border: 1px solid #ff9d00;
}

.container {
  margin-top: 90px;
  max-width: 1200px;
}
.homepage-link {
  color: var(--accent-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--accent-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--accent-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 0px 20px;
}
.row {
  margin-bottom: 80px;
}
.col-sm-4 {
  margin-bottom: 10px;
}
.active:hover {
  background-color: #ea9712;
  color: #effaf0;
  transition: all 200ms ease-in-out;
}

.border-pic {
  border: 20px solid var(--secondary-color);
  border-radius: 7px;
  background-color: var(--secondary-color);
}
.border-pic-green {
  border: 20px solid var(--thirdly-color);
  border-radius: 7px;
  background-color: var(--thirdly-color);
}
.bg-green {
  background-color: var(--thirdly-color);
}
.text-about {
  background-color: var(--secondary-color);

  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.social-media {
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: var(--accent-color);
  border-radius: 7px;
}

.icon {
  padding: 0 20px;
  color: white;
}
.icon:hover {
  color: black;
  transition: all 200ms ease-in-out;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}
